body {
	background-color: black;
}

h1 { 
	text-align: left;
	color: red;
} 

body{
	text-align: center;
}

p {
	width: 600px;
	margin-left: auto;
  margin-right: auto;
	text-align: center;
	color: gold;
}

img {
	text-align: center;
}


input {
	margin: 20px;
}