body {
	background-color: black;
}

h1 { 
	text-align: left;
	color: red;
} 

h1 img.about {
	text-align: right;
}

body{
	text-align: center;
}

p {
	width: 560px;
	text-align: center;
	color: gold;
}

img {
	text-align: center;
}


input {
	margin: 20px;
}